{% extends 'base.html' %}
{% block content %}
<div class="content container-fluid">
               <div class="page-header">
                  <div class="row align-items-center">
                     <div class="col">
                        <h3 class="page-title">On Board Clients</h3>
                        <ul class="breadcrumb">
                           <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                           <li class="breadcrumb-item active">Clients</li>
                        </ul>
                     </div>
                     {% include 'includes/messages.html' %}
                     <div class="col-auto text-right float-right ml-auto">
                         <button class="btn btn-primary mr-2" data-toggle="modal" data-target=".bd-example-modal-lg" type="button"><i class="fas fa-pray"></i>&nbsp;&nbsp;Leave Apply History</button>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <div class="card card-table">
                        <div class="card-body">
                           <div class="table-responsive">
                              <table id="table_id" class="table table-hover table-center mb-0 datatable">
                                 <thead>
                                    <tr>
                                       <th>CONTACT PERSON</th>
                                       <th>COMPANY NAME</th>
                                       <th>EMAIL ID</th>
                                       <th>NUMBER</th>
                                       <th>PRODUCT</th>
                                       <th>STATE</th>
                                       <th>SOURCE</th>
                                       <th>LEAD TYPE</th>
                                       <th>DATE</th>
                                       <th>ADDRESS</th>
                                       <th>FEEDBACK<th>
                                       <th>Updated AT</th>
                                       <th class="text-right">Action</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                 {% for i in view %}
                                 {% if i.status == 1 %}
                                    <tr>
                                       <td>{{i.contact_person}}</td>
                                       <td>{{i.company_name}}</td>
                                       <td>{{i.email_id}}</td>
                                       <td>{{i.contact_number}}</td>
                                       <td>{{i.product}}</td>
                                       <td>{{i.state}}</td>
                                       <td>{{i.lead_source}}</td>
                                       <td>{{i.lead_type}}</td>
                                       <td>{{i.date}}</td>
                                       <td>{{i.address}}</td>
                                       <td>{{i.feedback}}</td>
                                       <td>{{i.created_at}}</td>
                                       <td>{{i.updated_at}}</td>
                                        <td class="text-right">
                                          <div class="actions">
                                             <a href="#" class="btn btn-sm bg-success-light mr-2">
                                             <i class="fas fa-pen"></i>
                                             </a>
                                          </div>
                                           {% else %}
                                           <span class="badge badge-danger">No Data</span>
                                           {% endif %}
                                       </td>
                                    </tr>
                                    {% endfor %}
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

{% endblock %}