{% extends 'base.html' %}
{% block content %}

               <div class="content container-fluid">
                  <div class="page-header">
                     <div class="row align-items-center">
                        <div class="col">
                           <h3 class="page-title">Edit Employee</h3>
                           <ul class="breadcrumb">
                              <li class="breadcrumb-item"><a href="students.html">Employees</a></li>
                              <li class="breadcrumb-item active">Edit Employees</li>
                           </ul>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-12">
                        <div class="card">
                           <div class="card-body">
                              <form method="post" action="{% url 'update_support' %}">
                                  {% csrf_token %}
                                 <div class="row">
                                    <div class="col-12">
                                       <h5 class="form-title"><span>Employee Information</span></h5>
                                    </div>
                                         {% include 'includes/messages.html' %}
                                    <div class="col-12 col-sm-6">
                                       <div class="form-group">
                                          <label>First Name</label>
                                          <input type="text" class="form-control" name="first_name" value="{% for i in support %}{{i.first_name}}{% endfor %}">
                                       </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                       <div class="form-group">
                                          <label>Last Name</label>
                                          <input type="text" class="form-control" name="last_name" value="{% for i in support %}{{i.last_name}}{% endfor %}" >
                                       </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                       <div class="form-group">
                                          <label>Employee Id</label>
                                          <input type="text" class="form-control" name="employeeId" value="{% for i in support %}{{i.employee_id}}{% endfor %}" >
                                       </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                       <div class="form-group">
                                          <label>Gender</label>
                                          <select class="form-control" name="gender" >
                                             <option>Select Gender</option>
                                             <option value="Female">Female</option>
                                             <option value="Male">Male</option>
                                             <option value="Others">Others</option>
                                          </select>
                                       </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                       <div class="form-group">
                                          <label>Date of Birth</label>
                                          <div>
                                             <input type="date" class="form-control" name="dob" value="{% for i in support %}{{i.dob}}{% endfor %}" >
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                       <div class="form-group">
                                          <label>Designation</label>
                                          <input type="text" class="form-control" name="designation" value="{% for i in support %}{{i.designation}}{% endfor %}" >
                                       </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                       <div class="form-group">
                                          <label>Username</label>
                                          <input type="text" class="form-control" name="username" value="{% for i in support %}{{i.admin.username}}{% endfor %}" >
                                       </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                       <div class="form-group">
                                          <label>Password</label>
                                          <input type="text" class="form-control" name="password" placeholder="Fill only if you want to change the password" >
                                       </div>
                                    </div>
   <!--                                 <div class="col-12 col-sm-6">-->
   <!--                                    <div class="form-group">-->
   <!--                                       <label>Religion</label>-->
   <!--                                       <input type="text" class="form-control">-->
   <!--                                    </div>-->
   <!--                                 </div>-->
                                    <div class="col-12 col-sm-6">
                                       <div class="form-group">
                                          <label>Joining Date</label>
                                          <div>
                                             <input type="date" class="form-control" name="joining_date" value="{% for i in support %}{{i.joining_date}}{% endfor %}" >
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                       <div class="form-group">
                                          <label>Mobile Number</label>
                                          <input type="text" class="form-control" name="mobileNo" value="{% for i in support %}{{i.mobile}}{% endfor %}" >
                                       </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                       <div class="form-group">
                                          <label>Email ID</label>
                                          <input type="email" class="form-control" name="email" value="{% for i in support %}{{i.email}}{% endfor %}" >
                                       </div>
                                    </div>
                                    <input type="text" class="form-control" name="id" value="{% for i in support %}{{i.admin.id}}{% endfor %}" hidden>
   <!--                                 <div class="col-12 col-sm-6">-->
   <!--                                    <div class="form-group">-->
   <!--                                       <label>Department</label>-->
   <!--                                       <select class="form-control" name="department">-->
   <!--                                          <option>Select Department</option>-->
   <!--                                          <option value="Sales">Sales</option>-->
   <!--                                          <option value="Support">Support</option>-->
   <!--                                          <option value="Digital Marketing">Digital Marketing</option>-->
   <!--                                          <option value="Finance">Finance</option>-->
   <!--                                          <option value="Others">Others</option>-->
   <!--                                       </select>-->
   <!--                                    </div>-->
   <!--                                 </div>-->
   <!--                                 <div class="col-12 col-sm-6">-->
   <!--                                    <div class="form-group">-->
   <!--                                       <label>Student Image</label>-->
   <!--                                       <input type="file" class="form-control">-->
   <!--                                    </div>-->
   <!--                                 </div>-->
                                    <div class="col-12">
                                       <h5 class="form-title"><span>Parent Information</span></h5>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                       <div class="form-group">
                                          <label>Father's Name</label>
                                          <input type="text" class="form-control" name="father_name" value="{% for i in support %}{{i.father_name}}{% endfor %}" >
                                       </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                       <div class="form-group">
                                          <label>Father's Occupation</label>
                                          <input type="text" class="form-control" name="father_occupation" value="{% for i in support %}{{i.father_occupation}}{% endfor %}" >
                                       </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                       <div class="form-group">
                                          <label>Father's Mobile</label>
                                          <input type="text" class="form-control" name="father_mobile" value="{% for i in support %}{{i.father_mob}}{% endfor %}" >
                                       </div>
                                    </div>
   <!--                                 <div class="col-12 col-sm-6">-->
   <!--                                    <div class="form-group">-->
   <!--                                       <label>Father's Email</label>-->
   <!--                                       <input type="email" class="form-control">-->
   <!--                                    </div>-->
   <!--                                 </div>-->
                                    <div class="col-12 col-sm-6">
                                       <div class="form-group">
                                          <label>Mother's Name</label>
                                          <input type="text" class="form-control" name="mother_name" value="{% for i in support %}{{i.mother_name}}{% endfor %}" >
                                       </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                       <div class="form-group">
                                          <label>Mother's Occupation</label>
                                          <input type="text" class="form-control" name="mother_occupation" value="{% for i in support %}{{i.mother_occupation}}{% endfor %}" >
                                       </div>
                                    </div>
   <!--                                 <div class="col-12 col-sm-6">-->
   <!--                                    <div class="form-group">-->
   <!--                                       <label>Mother's Mobile</label>-->
   <!--                                       <input type="text" class="form-control">-->
   <!--                                    </div>-->
   <!--                                 </div>-->
   <!--                                 <div class="col-12 col-sm-6">-->
   <!--                                    <div class="form-group">-->
   <!--                                       <label>Mother's Email</label>-->
   <!--                                       <input type="email" class="form-control">-->
   <!--                                    </div>-->
   <!--                                 </div>-->
<!--                                    <div class="col-12 col-sm-6">-->
<!--                                       <div class="form-group">-->
<!--                                          <label>Current Address</label>-->
<!--                                          <textarea class="form-control" name="current_address"></textarea>-->
<!--                                       </div>-->
<!--                                    </div>-->
                                    <div class="col-12 col-sm-6">
                                       <div class="form-group">
                                          <label>Permanent Address</label>
                                          <textarea class="form-control" name="permanent_address" >{% for i in support %}{{i.permanent_add}}{% endfor %}</textarea>
                                       </div>
                                    </div>
                                    <div class="col-12">
                                       <button type="submit" class="btn btn-primary">Update</button>
                                    </div>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
               </div>

{% endblock %}